# How To Use The Database And The Search Tool
<br>
## The Database

The database contains three main parts, devoted respectively to 1) the inscriptions; 2) the names contained in the inscriptions; 3) the persons mentioned in the inscriptions. These three parts may be combined in the search tool. This division into three parts was necessary for several reasons, in particular in order to keep the name(s) separate from the individual(s) bearing the names, and in order to keep each name separate, even when it was part of a composite name, for example the Roman “tria nomina”. This division is also helpful for identifying cases of homonymy or indeed cases in which the same person occurs in more than one inscription.


The first part, Inscription, contains:

- Siglum of the inscription;
- Provenance of the inscription (Region; Subregion; Village);
- Period of the inscription (Hellenistic, Roman, Byzantine);
- Date of the inscription;
- Language(s) of the inscription;
- Genre of the inscription;
- Material of the inscription;
- Names contained in the inscription;
- Persons mentioned in the inscription.


The second part, Names, contains:

- Name;
- Language of the name;
- Philological analysis, limited to the roots and theonyms of the Semitic names;
- Inscription(s) in which the name occurs;
- Person(s) bearing this name.


Each name is listed separately, including cases of misspellings or variants.

The third part, Persons, contains details about each person occurring in the inscriptions:

- Full name(s);
- Gender;
- Family relations (son, father, daughter-in-law, …);
- Profession;
- Explicit ethnicity and/or provenance of the bearer (“Arab”, “Babylonian”, “from the village of…” etc.);
- Religious affiliation and/or details related to the bearer’s religion and beliefs.


For example, in the case of “Ioulios Aurelios Antipatros also called Alafonas” (Ἰούλιος Αὐρήλιος Ἀντίπατρος ὁ καὶ Αλαφωνας), the four names are listed separately in the part devoted to “Names” as Ἰούλιος, Αὐρήλιος, Ἀντίπατρος, and Αλαφωνας, and the database specifies that Ἰούλιος and Αὐρήλιος are Latin names, Ἀντίπατρος is Greek, and Αλαφωνας Aramaic, being composed on root *ḫlp. Simultaneously, it is clear from the section “Persons” that a male bearing these names occurs in inscription IGLS XVII/1, 378, that Αλαφωνας is a “double name” of Ἰούλιος Αὐρήλιος Ἀντίπατρος, that the names are written not only in Greek, but also in Aramaic (ywlys ˀwrlys ḥlpwnˀ), that the man was pagan, and that he was a child of Ααιλαμεις, grandchild of Ζηνόβιος, and great-grandchild of Ακοπαος. Finally, the section “Inscriptions” specifies that a man bearing the name Ἰούλιος Αὐρήλιος Ἀντίπατρος ὁ καὶ Αλαφωνας occurs in inscription IGLS XVII/1, 378, from Palmyra, and that this is a bilingual inscription dating from 233 AD.
<br>
<br>

## The Search Tool

Every entry of the database can be searched via the Search tool, and every entry can be combined with the other entries by using the drop-down menu “Fields”.


For example, one can check under the section “Inscriptions” every inscription which is “funerary” (inscriptions_genre:funerary), thus obtaining a list of all funerary inscriptions. If the user wishes to see all funerary inscriptions containing persons named Ἀλέξανδρος, they can combine the two fields through AND (inscriptions_genre:funerary AND persons_name.name:Ἀλέξανδρος).


If the user wishes to see all Greek names attested in the Beqa in the Roman period, they can combine the three fields (inscriptions_region:Beqa AND inscriptions_period:Roman AND names_language:Greek), thus obtaining a list of all Greek names in the Roman Beqa.


If the user wants to find all names beginning with Αβ recorded in the Beqa, they can combine the two elements, putting an asterisk after Αβ* (names_name:Αβ* AND names_region:Beqa).