# About The Project
<br>

A New Edition of the Corpus of the Personal Names in the Greek and Latin Inscriptions from Syria and Lebanon is a project funded by the German Research Foundation (Deutsche Forschungsgemeinschaft) and hosted by the <a href="https://www.uni-goettingen.de/en/the+faculty/55363.html" title="Faculty of Theology of the University of Göttingen" target="_blank">Faculty of Theology of the University of Göttingen (opens new window)</a> and the <a href="https://www.sub.uni-goettingen.de/en/news/" title="Göttingen State and University Library (SUB)" target="_blank">Göttingen State and University Library (SUB) (opens new window)</a>. The SUB technical team developed the database. The aim of the project is to provide a full reassessment of the personal names recorded in Greek and Latin texts from Syria and Lebanon from the Hellenistic to the early Islamic period.


The Near East was, as is well known, the cradle of literacy, and the multitude of texts that issued from there between 2800 BC and the Islamic era form the basis of the study of the region’s ancient history. Among the different items of information provided by such texts are the proper names of the peoples who successively inhabited the area; these names are highly significant for the historical, cultural, religious, and linguistic study of the various historical population groups.


The majority of personal names in Ancient Near Eastern texts come from texts in Semitic languages. However, the region corresponding to modern Syria and Lebanon has yielded numerous Greek inscriptions dating from the Roman to Byzantine periods (approx. 1st century BC – 7th century AD), with a lower but significant number of inscriptions dating from the Hellenistic period (3rd-1st century BC), and the Umayyad (661-750 AD) and Abbasid caliphates (750-1258 AD). These inscriptions contain a high number of proper names.


Perhaps contrary to expectations, all proper names originally have a clear meaning, even proper names in contemporary Europe, although the meaning of these is now usually opaque. Semitic proper names are usually still characterized by semantic transparency, i.e. their etymology is mostly still clear, and some of them may still be found in Europe, for example John (“Yahweh was merciful”), Michael (“Who is like El?”), Thomas (“Twin”), Anne (“Grace”).


Moreover, all proper names have an additional meaning that is not linguistic but sociocultural. A number of factors influence name giving: meaning, euphony, family traditions, religion, ideological and political matters, fashion etc. Many of these are difficult to grasp for us; however, some information can be deduced taking into consideration the names attested within the family, the use of theophoric names, the geographical and chronological distribution of the name etc.


A monograph to be published in 2024 will be devoted to the etymological analysis of the Semitic proper names, with parallels with other corpora of Semitic names, whereas the database contains the relevant data for social and cultural investigations. For each name – not only of Semitic, but also of other linguistic origins (mainly Greek and Latin) – the database provides details about the name itself (Aramaic, Arabic, Hebrew, Greek etc.), the bearer of the name (profession, religion, names of relatives etc.), and the inscription(s) in which the name occurs (language, provenance, date, genre etc.). For the Semitic names, the database also specifies the divine names and the roots contained.



## Project Team

Project Lead and Responsible for Content:

Dr. Giulia Francesca Grassi


## SUB Technical Team:

<a href="https://www.sub.uni-goettingen.de/en/contact/staff-a-z/staff-details/person/kristine-schima-voigt/" title="Kristine Schima-Voigt at SUB" target="_blank">Kristine Schima-Voigt</a>

<a href="https://www.sub.uni-goettingen.de/en/contact/staff-a-z/staff-details/person/christian-mahnke/" title="Christian Mahnke at SUB" target="_blank">Christian Mahnke</a>

Marcus Hellmann


## Technical Documentation

The database was implemented with <a href="https://symfony.com/bundles/EasyAdminBundle/current/index.html" title="EasyAdmin Website" target="_blank">EasyAdmin</a>, an admin generator for <a href="https://symfony.com/" title="Symfony Website" target="_blank">Symfony</a> applications.
The search was realized with the <a href="https://github.com/FriendsOfSymfony/FOSElasticaBundle" title="FOSElasticaBundle Docs" target="_blank">FOSElasticaBundle</a>. The complete code and documentation are available open source on <a href="https://gitlab.gwdg.de/subugoe/theology-inscriptions" title="SUB Gitlab Repository" target="_blank">GitLab</a>.
