{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}
{% block title %}Log in!{% endblock %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('login') }}
        {% endblock %}
{% block body  %}
    <div class="wrapper fadeInDown login">
        <div id="formContent">
            {% if error is defined and error is not empty %}
                <span class="helper-text" data-error="wrong" data-success="right">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
            {% endif %}
            {{ form_start(form, {'action': path('login'), 'method': 'POST'}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
        {% block javascripts %}
        {% endblock %}
{% endblock %}
