{% for action in actions %}
    {% if 'list' == action.name %}
        {% set action_href = request_parameters.referer|default('') ? request_parameters.referer|easyadmin_urldecode : path('easyadmin', request_parameters|merge({ action: 'list' })) %}
    {% elseif 'method' == action.type %}
        {% set action_href = path('easyadmin', request_parameters|merge({ action: action.name, id: item_id })) %}
    {% elseif 'route' == action.type %}
        {% set action_href = path(action.name, request_parameters|merge(action.route_parameters|default({}))|merge({ action: action.name, id: item_id })) %}
    {% endif %}

    {% if easyadmin_action_is_permitted('list', action.name, entity_config.name) %}
        {{ include(action.template, {
            action: action,
            action_href: action_href,
            is_dropdown: is_dropdown|default(false),
            item: item,
            item_id: item_id,
            request_parameters: request_parameters,
            translation_domain: translation_domain,
            trans_parameters: trans_parameters,
        }, with_context = false) }}
    {% endif %}
{% endfor %}
