{% extends 'base.html.twig' %}
{% trans_default_domain 'search' %}
{% block title %}Search the Inscriptions database{% endblock %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('map') }}
        {% endblock %}
{% block body %}
{% apply spaceless %}
{% include 'common/header.html.twig' %}
{% import 'common/search.html.twig' as search %}
<main>
    {% block main %}
        <h1 class="title">Map the {{ index|trans|raw }} database</h1>
        {% include 'common/searchbox.html.twig' %}
        <div class="map-wrapper">
            <div id='map'></div>
        </div>
    {% endblock %}
</main>
{% endapply %}
        {% block javascripts %}
            {{ encore_entry_script_tags('map') }}
        {% endblock %}

        {% if index is defined %}
            {# Insert index config into local Twig variables #}
            {% set hide_fields = [] %}
            {% set map = false %}
            {% set coords_field = '' %}
            {% if indexes_metadata is defined and attribute(indexes_metadata, index) is defined %}
                {% set index_metadata = attribute(indexes_metadata, index) %}
                {% if index_metadata.hide_fields is defined %}
                    {% set hide_fields = index_metadata.hide_fields %}
                {% endif %}

                {% if index_metadata.map is defined %}
                    {% if index_metadata.map.enabled is defined %}
                        {% set map = index_metadata.map.enabled %}
                    {% endif %}
                    {% if index_metadata.map.coords_field is defined %}
                        {% set coords_field = index_metadata.map.coords_field %}
                    {% endif %}
                {% endif %}
            {% endif %}

            {# Inline GeoJSON #}
            {% if results is defined and results is not empty %}
                {% set geojson = attribute(results, index) %}
                <script type="text/javascript">
                    geojsonFeatures = {{ search.geojson(geojson, coords_field, hide_fields) }};
                    document.addEventListener('DOMContentLoaded', function () {
                        window.initMap('map', geojsonFeatures);
                    });
                </script>
            {% endif %}
            {# Ajax GeoJSON
            <script type="text/javascript">
                geojsonFeatures = '{{ index ~ '?q=' ~ app.request.get('q') }}';
                document.addEventListener('DOMContentLoaded', function () {
                    window.initMap('map', geojsonFeatures);
                });
            </script>
            #}
        {% endif %}
{% endblock %}
