{% extends 'base.html.twig' %}
{% block title %}Welcome to the Inscriptions database{% endblock %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('index') }}
        {% endblock %}
{% block body %}
    {% apply spaceless %}
        <div class="container">
            {% include 'common/header.html.twig' %}
            <main class="home">
                {% block main %}
                    <div class="image-container">
                        <img src="{{ asset('images/euphrate.jpg') }}" alt="River Euphrates in Deir ez-Zor Governatorate, Syria">
                        <small>„River Euphrates in Deir ez-Zor Governatorate, Syria“ <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" title="License Information">CC BY-SA 4.0</a> Dr. Giulia Francesca Grassi</small>
                    </div>

                    <h1 class="title">Welcome to the Inscriptions Database</h1>
                    <p>
                        A New Edition of the Corpus of the Personal Names in the Greek and Latin Inscriptions from Syria
                        and Lebanon is a project funded by the German Research Foundation (Deutsche Forschungsgemeinschaft)
                        and hosted by the <a href="https://www.uni-goettingen.de/en/the+faculty/55363.html" target="_blank" title="Faculty of Theology of the University of Göttingen">Faculty of Theology of the University of Göttingen (opens new window)</a> and the <a href="https://www.sub.uni-goettingen.de/en/news/" target="_blank" title="Göttingen State and University Library">Göttingen State and University Library (SUB) (opens new window)</a>.
                        The database is constantly being updated with new data records.
                        <br><br>
                        The SUB technical team developed the database. The aim of the project is to provide a full reassessment of the personal names recorded in Greek and Latin texts from Syria and Lebanon from the Hellenistic to the early Islamic period.
                    </p>
                    <a href="/database" class="btn btn-primary">To the Database</a>
                {% endblock %}
            </main>
            {% include 'common/footer.html.twig' %}
        </div>
    {% endapply %}
{% endblock %}