{% set label = action.label %}
{% set title = action.title %}
{% set css_class = action.css_class %}
{% if item.generated %}
    {% set opposite = item.primary %}
    {% set action_href = action_href | replace({('id=' ~ item.id): ('id=' ~ opposite.id)}) %}
    {% set label = 'Edit origin' %}
    {% set css_class = css_class ~ ' action-edit-origin' %}
    {% if title is not empty %}
        {% set title = label %}
    {% endif %}
{% endif %}

<a class="{{ is_dropdown|default(false) ? 'dropdown-item' }} {{ css_class|default('') }}" title="{{ title|default('') is empty ? '' : title|trans(trans_parameters, translation_domain) }}" href="{{ action_href }}" target="{{ action.target }}">
    {%- if action.icon %}<i class="fa fa-fw fa-{{ action.icon }}"></i> {% endif -%}
    {%- if label is defined and not label is empty -%}
        {{ label|trans(arguments = trans_parameters|merge({ '%entity_id%': item_id }), domain = translation_domain) }}
    {%- endif -%}
</a>
