{# this field template is used to avoid formatting the special ID attribute as a number #}
{% set attrs = ''%}
{% if item.generated %}
    {% set attrs = attrs ~ 'data-source=generated'%}
{% endif %}
{% if item.linked is not empty %}
    {% set attrs = attrs ~ ' data-opposite-id=' ~ item.linked.id %}
{% endif %}

<span {{ attrs }}>{{ value }}</span>