/* Changes for EasyAdmin 2.3 */

:root {
    --sidebar-width: 180px;
}

a {
    cursor: pointer;
}

table.datagrid {
    td,
    td:last-child,
    thead {
        padding: 8px 5px;
    }

    td.actions {
        min-width: 25% !important;
        text-align: right;
        white-space: nowrap;

        a {
            margin-left: 5px;
        }
    }

    td.nowrap,
    td.siglum {
        white-space: nowrap;
    }

    td.fromPerson,
    td.person,
    td.fullname {
        /* display: flex; */
        flex: 0 30%;
    }
}

div.form-widget input {
    background-color: #fff;
    text-align: left;
}

.sidebar-menu li:not(.submenu-active).active .fa,
.sidebar-menu li:not(.submenu-active).active a {
    color: var(--color-primary);
    filter: opacity(100%);
    font-weight: bold;
}

body.new,
body.show,
body.edit {
    h1.title {
        font-weight: bold;
    }

    div.hidden {
        display: none;
    }

    .form-group label,
    .form-group legend.col-form-label {
        flex: 10% 0 0;
    }

    .form-widget {
        flex: 0 0 85%;
        max-width: 85% !important;

        input,
        select,
        textarea,
        .select2,
        .select2-selection {
            max-width: 100% !important;
        }

        .form-check {
            margin-left: calc(10% + 5px);
        }

        a.field-collection-item-action,
        .field-collection-item-action {
            float: right;
            text-align: right;
        }
    }

    .form-group.field-collection-action {
        float: right;
        margin-top: 6px;
        text-align: right;
    }

    .form-group.field-checkbox {
        .form-check {
            margin-left: calc(10% + 5px);
        }
    }

    .form-group .form-widget {
        flex: 0 0 100%;
    }

    .family-members-widget-special {
        .form-group {
            margin-left: -5px;

            .form-widget {
                flex: 1 0 85%;
                max-width: 100% !important;
                padding-left: 4px;
            }

            .form-control-label {
                box-sizing: border-box;
                flex: 0 0 12%;
                max-width: 12%;
                min-width: 12%;
                white-space: nowrap;
            }
        }
    }
}

body.show {
    .form-control {
        background-color: #f6f6f6;
    }
}

/* This is required to have space to the bottom for the keyboard */
.content-footer .form-actions {
    margin-bottom: 400px !important;
}
