footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50px;
    margin-top: 2rem;
    padding: 1rem 0;

    #easyadmin-list-Inscriptions & {
        margin-left: 30px;
        margin-right: 30px;
    }

    .menu {
        list-style-type: none;
        margin: 0;

        li {
            &:not(:last-child) {
                margin-right: 12px;
            }

            a {
                color: rgb(108, 117, 125) !important;
                text-decoration: none;

                &:hover {
                    color: rgb(108, 117, 125) !important;
                    text-decoration: underline;
                }
            }
        }
    }

    .logos-container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        width: 100%;

        .logo {
            height: 26px;

            img {
                height: 100%;
                width: 100%;
            }
        }

        //.logo-sub {
        //    height: 35px;
        //}
    }
}
