/*
 This file is based on the jQuery UI Framework as stated below.
 Classes that are provided by 1.12.1 have been removed, so this version should only include project specific
 changes and classes defined by old versions.
 Only add classes that are different from the didstributed version.
*/

/*! jQuery UI - v1.11.4 - 2016-03-21
* http://jqueryui.com
* Includes: core.css, autocomplete.css, menu.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Arial%2CHelvetica%2Csans-serif&fsDefault=1em&fwDefault=normal&cornerRadius=3px&bgColorHeader=e9e9e9&bgTextureHeader=flat&borderColorHeader=dddddd&fcHeader=333333&iconColorHeader=444444&bgColorContent=ffffff&bgTextureContent=flat&borderColorContent=dddddd&fcContent=333333&iconColorContent=444444&bgColorDefault=f6f6f6&bgTextureDefault=flat&borderColorDefault=c5c5c5&fcDefault=454545&iconColorDefault=777777&bgColorHover=ededed&bgTextureHover=flat&borderColorHover=cccccc&fcHover=2b2b2b&iconColorHover=555555&bgColorActive=007fff&bgTextureActive=flat&borderColorActive=003eff&fcActive=ffffff&iconColorActive=ffffff&bgColorHighlight=fffa90&bgTextureHighlight=flat&borderColorHighlight=dad55e&fcHighlight=777620&iconColorHighlight=777620&bgColorError=fddfdf&bgTextureError=flat&borderColorError=f1a899&fcError=5f3f3f&iconColorError=cc0000&bgColorOverlay=aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=666666&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=5px&offsetTopShadow=0px&offsetLeftShadow=0px&cornerRadiusShadow=8px
* Copyright jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
---------------------------------- */

.ui-helper-clearfix {
    min-height: 0; /* support: IE7 */
}

.ui-helper-zfix {
    filter: alpha(opacity=0); /* support: IE8 */
    height: 100%;
    left: 100px;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Interaction Cues
---------------------------------- */
.ui-state-disabled {
    cursor: default !important;
}

/* Icons
---------------------------------- */

/* states and images */
.ui-icon {
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
}

/* Misc visuals
---------------------------------- */

/* Overlays */

.ui-menu .ui-menu-item {
    cursor: pointer;

    /* support: IE10, see #8844 */
    list-style-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
    margin: 0;
    min-height: 0; /* support: IE7 */
    padding: 3px 1em 3px .4em;
    position: relative;
}

/* icon support */
.ui-menu-icons {
    position: relative;
}

.ui-menu-icons .ui-menu-item {
    padding-left: 2em;
}

/* Component containers
---------------------------------- */
.ui-widget {
    border: $border;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
    font-family: $font-family-sans-serif;
    font-size: 1em;
    margin-right: 0;
    max-width: 450px;
    min-width: 250px;
    padding: 10px 0;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: $font-family-sans-serif;
    font-size: 1em;
}

.ui-widget-content {
    //border: 1px solid #dddddd;
    background: #fff;
    color: #333;
    text-align: center;
}

/* Interaction states
---------------------------------- */
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background: #f6f6f6;
    border: 1px solid #c5c5c5;
    color: #454545;
    font-weight: normal;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
    color: #454545;
    text-decoration: none;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background: #ededed;
    border: 1px solid #ccc;
    color: #2b2b2b;
    font-weight: normal;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
    color: #2b2b2b;
    text-decoration: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    background: #007fff;
    border: 1px solid #003eff;
    color: #fff;
    font-weight: normal;
}

/* Interaction Cues
---------------------------------- */
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    background: #fffa90;
    border: 1px solid #dad55e;
    color: #777620;
}

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
    color: #777620;
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
    background: #fddfdf;
    border: 1px solid #f1a899;
    color: #5f3f3f;
}


/* Icons
---------------------------------- */

/* states and images */
.ui-icon {
    height: 16px;
    width: 16px;
}
//
//.ui-icon,
//.ui-widget-content .ui-icon {
//  background-image: url("images/ui-icons_444444_256x240.png");
//}
//
//.ui-widget-header .ui-icon {
//  background-image: url("images/ui-icons_444444_256x240.png");
//}
//
//.ui-state-default .ui-icon {
//  background-image: url("images/ui-icons_777777_256x240.png");
//}
//
//.ui-state-hover .ui-icon,
//.ui-state-focus .ui-icon {
//  background-image: url("images/ui-icons_555555_256x240.png");
//}
//
//.ui-state-active .ui-icon {
//  background-image: url("images/ui-icons_ffffff_256x240.png");
//}
//
//.ui-state-highlight .ui-icon {
//  background-image: url("images/ui-icons_777620_256x240.png");
//}
//
//.ui-state-error .ui-icon,
//.ui-state-error-text .ui-icon {
//  background-image: url("images/ui-icons_cc0000_256x240.png");
//}

/* positioning */
.ui-icon-blank { background-position: 16px 16px; }
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }

/* Misc visuals
---------------------------------- */

/* Corner radius */

.ui-corner-all {
    border-radius: 0;
}

/* Overlays */
.ui-widget-overlay {
    background: #aaa;
    filter: alpha(opacity=30); /* support: IE8 */
    opacity: .3;
}

.ui-widget-shadow {
    background: #666;
    border-radius: 8px;
    filter: alpha(opacity=30); /* support: IE8 */
    margin: 0;
    opacity: .3;
    padding: 5px;
}
