// This used to be part of '_jquery-ui-ext.scss', formerly known as '_jquery-ui.scss'
.ui-keyboard-has-focus {
    z-index: 16001;
}

.ui-keyboard div {
    font-size: 1.1em;
}

.ui-keyboard[contenteditable] {
    white-space: pre;
}

.ui-keyboard-button {
    cursor: pointer;
    height: 2em;
    line-height: 2em;
    margin: .1em;
    min-width: 2em;
    overflow: hidden;
    -moz-user-focus: ignore;
}

.ui-keyboard-button span {
    display: inline-block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.ui-keyboard-button-endrow {
    clear: left;
}

.ui-keyboard-space {
    width: 15em;
}

.ui-keyboard-empty span,
.ui-keyboard-space span {
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
}

.ui-keyboard-preview-wrapper {
    overflow: hidden;
    position: relative;
    text-align: center;
}

.ui-keyboard-preview {
    display: inline;
    margin: 0 0 3px;
    text-align: left;
    width: 99%;
}

.ui-keyboard-keyset {
    text-align: center;
    white-space: nowrap;
}

.ui-keyboard-input {
    text-align: left;
}

.ui-keyboard-input-current {
    -webkit-box-shadow: 0 0 5px #4d90fe;
    box-shadow: 0 0 5px #4d90fe;
}

.ui-keyboard-placeholder {
    color: #888;
}

.ui-keyboard-nokeyboard {
    border-color: #888;
    color: #888;
}

.ui-keyboard-spacer {
    cursor: default;
    display: inline-block;
    height: 0;
    width: 1px;
}

.ui-keyboard-LRM span,
.ui-keyboard-NBSP span,
.ui-keyboard-RLM span,
.ui-keyboard-ZWJ span,
.ui-keyboard-ZWNJ span,
.ui-keyboard-ZWSP span {
    font-size: .5em;
    line-height: 1.5em;
    white-space: normal;
}

.ui-keyboard-button.ui-keyboard-combo.ui-state-default {
    border-color: #ffaf0f;
}

button.ui-keyboard-accept.ui-keyboard-valid-input {
    background: #080;
    border-color: #0c0;
    color: #fff;
}

button.ui-keyboard-accept.ui-keyboard-valid-input:not([disabled]):hover {
    background: #0a0;
}

button.ui-keyboard-accept.ui-keyboard-invalid-input {
    background: #800;
    border-color: #c00;
    color: #fff;
    opacity: .5;
}

button.ui-keyboard-accept.ui-keyboard-invalid-input:not([disabled]):hover {
    background: #a00;
}

.ui-keyboard-caret {
    background: #c00;
    margin-top: 3px;
    width: 1px;
}

div.ui-body.ui-keyboard button.ui-keyboard-button.ui-btn {
    border-color: transparent;
    padding: .5em 1em;
}

.ui-body .ui-keyboard-button {
    display: inline-block;
    height: 3em;
    width: 3em;
}

.ui-body .ui-keyboard-widekey {
    width: 5.5em;
}

.ui-body .ui-keyboard-space {
    width: 15em;
}

.ui-body .ui-keyboard-space span {
    visibility: hidden;
}

.ui-body .ui-keyboard-keyset {
    line-height: .5em;
}

.ui-body input.ui-input-text,
.ui-body textarea.ui-input-text {
    width: 95%;
}

.ui-body .ui-btn-inner {
    height: 2em;
    margin: 0;
    padding: .2em 0;
}

.ui-body .ui-btn {
    font-size: 13px;
    margin: 0;
}

button.ui-keyboard-button.btn {
    padding: 1px 6px;
}

button.ui-keyboard-toggle span {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: .8em;
    width: .8em;
}

.ui-keyboard.ui-keyboard-disabled input {
    opacity: .5;
}

.ui-keyboard-overlay {
    background: rgba(0, 0, 0, .5);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.ui-keyboard-popup {
    display: inline-block;
    max-width: 22em;
}

.ui-keyboard.ui-keyboard-popup-open .ui-keyboard-keyset .ui-keyboard-button {
    pointer-events: none;
}

div.ui-keyboard-extender {
    margin-left: 5px;
}

button.ui-keyboard-extender span {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: .9em;
    margin-bottom: 3px;
    width: .9em;
}

@media (max-width: 319px) {
    .ui-keyboard div {
        font-size: 9px;
    }

    .ui-keyboard .ui-keyboard-input {
        font-size: 12px;
    }

    .ui-body .ui-btn {
        font-size: 9px;
        margin: 0;
    }

    .ui-body .ui-keyboard-button {
        height: 2.5em;
        width: 1.8em;
    }

    .ui-body .ui-keyboard-widekey {
        width: 4em;
    }

    .ui-body .ui-keyboard-space {
        width: 8em;
    }

    .ui-body .ui-btn-inner {
        height: 2.5em;
        padding: .3em 0;
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .ui-widget {
        left: 30px !important;
        max-width: 300px;
    }

    .ui-keyboard div {
        font-size: 9px;
    }

    .ui-keyboard .ui-keyboard-input {
        font-size: 14px;
    }

    .ui-body .ui-btn {
        font-size: 11px;
        margin: 0;
    }

    .ui-body .ui-keyboard-button {
        height: 3em;
        width: 1.8em;
    }

    .ui-keyboard-button {
        height: 4em !important;
        //line-height: .4em !important;
        margin-bottom: .4em !important;
        min-width: 2.5em !important;
        //font-size: 1.1em !important;
    }

    .ui-body .ui-keyboard-widekey {
        width: 4.5em;
    }

    .ui-body .ui-keyboard-space {
        width: 10em;
    }

    .ui-body .ui-btn-inner {
        height: 3em;
        padding: .7em 0;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .ui-widget {
        left: 30px !important;
        max-width: 400px !important;
    }

    .ui-keyboard div {
        font-size: 13px;
    }

    .ui-keyboard .ui-keyboard-input {
        font-size: 14px;
    }

    .ui-body .ui-btn {
        font-size: 10px;
        margin: 0;
    }

    .ui-body .ui-keyboard-button {
        height: 2.5em;
    }

    .ui-keyboard-button {
        //line-height: .4em !important;
        margin-bottom: .4em !important;
        //min-width: 2.5em !important;
    }

    .ui-body .ui-btn-inner {
        height: 2.5em;
        padding: .5em 0;
    }
}

.ui-keyboard-widekey {
    background: #023c74 !important;
    border-radius: 5px !important;
    border-width: 0 !important;
    color: #fff !important;
}
