.ui-keyboard {
    border-radius: 0;
    //left: 0;
    //top: 0;
    //bottom: auto;
    //position: fixed;
    width: 100%;
}

.keyboardInputMaster {
    background: #00ca6d;
    border: 1px solid $brand-primary;
    box-shadow: 0 2px 10px #444;
    cursor: default;
    filter: alpha(opacity=95);
    height: auto;
    line-height: normal;
    margin: 0;
    min-height: 0;
    min-width: 0;
    opacity: 0.95;
    padding: 0;
    position: absolute;
    text-align: left;
    -moz-user-select: none;
    width: auto;
    z-index: 1000000 !important;

    table {
        table-layout: auto;
    }
}

.keyboardInputMaster * {
    background: transparent;
    border: 0 none;
    color: #000;
    height: auto;
    line-height: 1.3em;
    margin: 0;
    min-height: 0;
    min-width: 0;
    outline: 0;
    padding: 0;
    position: static;
    vertical-align: baseline;
    width: auto;
}

.keyboardInputMaster.keyboardInputSize1,
.keyboardInputMaster.keyboardInputSize1 * {
    font-size: 13px;
}

.keyboardInputMaster.keyboardInputSize3,
.keyboardInputMaster.keyboardInputSize3 * {
    font-size: 20px;
}

.keyboardInputMaster.keyboardInputSize4,
.keyboardInputMaster.keyboardInputSize4 * {
    font-size: 24px;
}

.keyboardInputMaster.keyboardInputSize5,
.keyboardInputMaster.keyboardInputSize5 * {
    font-size: 28px;
}

.keyboardsArea table {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}


.keyboardInputMaster thead tr th {
    background-color: $brand-primary;
    padding: .3em .3em .1em;
    text-align: right;
    white-space: nowrap;

    div {
        background-color: transparent;
        cursor: pointer;
        float: left;
        font-size: 130% !important;
        font-weight: bold;
        height: 1.3em;
        margin-right: 0.5em;
        position: relative;
        z-index: 1;

        ol {
            background-color: #f6f6f6;
            border: 1px solid #999;
            display: none;
            height: 9.4em;
            left: 10em;
            list-style-type: none;
            overflow-x: hidden;
            overflow-y: auto;
            position: absolute;
            text-align: left;
            top: 90%;
            width: 12em;

            li {
                cursor: pointer;
                padding: .2em .4em;
                white-space: nowrap;
                width: 12em;

                &.selected {
                    background-color: #ffc;
                }

                &:hover,
                &.hover {
                    background-color: #ddd;
                }
            }
        }
    }

    strong {
        font-weight: bold;
    }

    small {
        border-right: 1px solid #aaa;
        padding: 0 .2em 0 .3em;
    }

    big {
        margin: 0;
        padding: 0 .3em 0 .2em;
    }

    span,
    strong,
    small,
    big {
        color: #fff;
        cursor: pointer;
        display: inline-block;
        height: 1.4em;
        line-height: 1.4em;
        margin: 0 0 0 .3em;
        padding: 0 .4em;
        transition: background-color .15s ease-in-out;
        vertical-align: middle;

        &:hover,
        &.hover {
            background-color: #ddd;
        }
    }
}

.keyboardInputMaster tbody tr {
    td {
        padding: .2em .3em .3em;
        text-align: left;
        vertical-align: top;

        div {
            position: relative;
            text-align: center;
            zoom: 1;

            label {
                bottom: 0.2em;
                left: 2em;
                position: absolute;

                input {
                    background-color: #f6f6f6;
                    font-size: inherit;
                    height: 1.1em;
                    vertical-align: middle;
                    width: 1.1em;
                }
            }

            var {
                bottom: 0;
                color: #444;
                font-style: italic;
                font-weight: bold;
                position: absolute;
                right: 3px;
            }
        }

        table {
            border-collapse: separate;
            border-spacing: 0;
            white-space: nowrap;
            width: 100%;

            &.keyboardInputCenter {
                margin: 0 auto;
                width: auto;
            }

            tbody tr td small {
                display: block;
                font-size: 0.6em !important;
                line-height: 1.1em;
                text-align: center;
            }
        }

        &.keyboardInputNumpad table {
            margin-left: 0.2em;
            width: auto;
        }


        table tbody tr {
            td {
                background-color: #eee;
                border-bottom: 1px solid $brand-primary;
                border-right: 1px solid $brand-primary;
                cursor: default;
                font-family: 'Lucida Console', 'Arial Unicode MS', monospace;
                height: 1.8em;
                min-width: 0.75em;
                padding: 0 0.45em;
                transition: background-color .15s ease-in-out;
                vertical-align: middle;
                white-space: pre;

                &:first-child {
                    border-left: 1px solid $brand-primary;
                }

                &.space {
                    padding: 0 4em;
                }

                &.deadkey {
                    background-color: #ccd;
                }

                &.target {
                    background-color: #ddc;
                }

                &:hover,
                &.hover {
                    border-bottom: 0;
                    border-top: 1px solid $brand-primary;
                }
            }
        }
    }
}

.keyboardInputMaster.relativeKeyboard tbody tr td table tbody tr td.last {
    width: 99%;
}

.keyboardInputMaster thead tr th span:active,
.keyboardInputMaster thead tr th span.pressed,
.keyboardInputMaster tbody tr td table tbody tr td:active,
.keyboardInputMaster tbody tr td table tbody tr td.pressed {
    background-color: #ccc;
    border-bottom: 1px solid #d5d5d5;
    border-left: 1px solid #555;
    border-right: 1px solid #d5d5d5;
    border-top: 1px solid #555 !important;
}

.keyboardInputInitiator {
    cursor: pointer;
    margin: 20px 0 0 95%;
    //position: absolute;
    //left: -.9em;
    //top: .25em;
    position: inherit;
}

#vk_inscriptions_persons_keyboard,
#vk_inscriptions_names_keyboard,
#vk_person_names_keyboard {
    float: right !important;
    left: 0 !important;
}

.select2-search__field {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

