.main-header {
    margin: 40px 0;
    padding: 0;

    .menu {
        justify-content: space-between;

        li {
            &:not(:last-child) {
                margin-right: 4px;
            }

            a {
                border-radius: var(--border-radius);
                color: var(--text-color) !important;
                font-size: var(--font-size-base);
                padding: 0.75rem 1rem;
            }

            &.active {
                a {
                    background: var(--gray-600);
                    color: #fff !important;
                }
            }

            &:not(.active) {
                a:hover {
                    background: var(--gray-400);
                    color: var(--text-color) !important;
                }
            }
        }
    }

    .mobile-menu-wrapper {
        background: #fff;
        box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
        display: none;
        flex-direction: column;
        height: 100%;
        padding: 1rem;
        position: fixed;
        right: 0;
        top: 0;
        transform: translateX(100%);
        transition: transform 0.2s ease-in-out;
        width: 200px;
        z-index: 9999;

        @media (max-width: 991px) {
            display: flex;
            width: 260px;
        }

        @media (max-width: 479px) {
            width: 200px;
        }

        &.show {
            transform: translateX(0);
        }

        .close {
            margin-left: auto;
        }

        .menu {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-top: 1rem;

            li {
                display: flex;
                margin: 0 0 1rem;

                a {
                    padding: 0.5rem 1rem;
                    width: 100%;
                }
            }
        }
    }
}
