/* Map Popups */
.popup.property_key {
    font-weight: 600;
}

.popup.property_value {
    margin-left: 6px;
}

.leaflet-svg-icon-blue {
    background-color: #00f;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="%230000ff" d="M1152 640q0-106-75-181t-181-75-181 75-75 181 75 181 181 75 181-75 75-181zm256 0q0 109-33 179l-364 774q-16 33-47.5 52t-67.5 19-67.5-19-46.5-52l-365-774q-33-70-33-179 0-212 150-362t362-150 362 150 150 362z"/></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding-left: 20px;
}

.geojson-popup {
    height: 50vh;
    overflow-x: hidden;
    overflow-y: scroll;

    button.inline-table-row-heading {
        background-color: #f0f0f0;
        //background: rgba(0, 0, 0, 0);
        border: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        min-width: max-content;
        padding: 0.15em;
        text-align: start;
        white-space: nowrap;
        width: 100%;
    }

    button.inline-table-row-heading:nth-of-type(2n) {
        background-color: #dcdcdc;
    }

    .inline-table-content {
        background-color: #f0f0f0;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-bottom: 5px;

        .inline-table-row {
            display: inline-block;
            padding-left: 0.3em;
            padding-right: 0.3em;

            .field-name {
                font-weight: bold;
            }

            .field-value {
                float: right;
                margin-left: 0.3em;
                padding-right: 0.3em;
            }
        }

        .inline-table-row:last-of-type {
            padding-bottom: 0.3em;
        }
    }

    .inline-table-content:nth-of-type(2n) {
        background-color: #dcdcdc;
    }
}
