@import 'app.scss';

.searchbox {
    margin: 50px auto;
    width: 50%;

    @media (max-width: 991px) {
        margin: 50px 0 0;
        width: auto;
    }
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    color: #aaa;
    display: block;
    height: 2.375rem;
    line-height: 2.375rem;
    pointer-events: none;
    position: absolute;
    text-align: center;
    width: 2.375rem;
    z-index: 2;
}

.search-icon {
    /* Borrowed from EasyAdmin CSS */
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="%23aaa" d="M1216 832q0-185-131.5-316.5t-316.5-131.5-316.5 131.5-131.5 316.5 131.5 316.5 316.5 131.5 316.5-131.5 131.5-316.5zm512 832q0 52-38 90t-90 38q-54 0-90-38l-343-342q-179 124-399 124-143 0-273.5-55.5t-225-150-150-225-55.5-273.5 55.5-273.5 150-225 225-150 273.5-55.5 273.5 55.5 225 150 150 225 55.5 273.5q0 220-124 399l343 343q37 37 37 90z"/></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding-left: 20px;
    width: 2.5rem;

    &:hover {
        background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="%23fff" d="M1216 832q0-185-131.5-316.5t-316.5-131.5-316.5 131.5-131.5 316.5 131.5 316.5 316.5 131.5 316.5-131.5 131.5-316.5zm512 832q0 52-38 90t-90 38q-54 0-90-38l-343-342q-179 124-399 124-143 0-273.5-55.5t-225-150-150-225-55.5-273.5 55.5-273.5 150-225 225-150 273.5-55.5 273.5 55.5 225 150 150 225 55.5 273.5q0 220-124 399l343 343q37 37 37 90z"/></svg>');
    }

    &:active {
        background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="%23aaa" d="M1216 832q0-185-131.5-316.5t-316.5-131.5-316.5 131.5-131.5 316.5 131.5 316.5 316.5 131.5 316.5-131.5 131.5-316.5zm512 832q0 52-38 90t-90 38q-54 0-90-38l-343-342q-179 124-399 124-143 0-273.5-55.5t-225-150-150-225-55.5-273.5 55.5-273.5 150-225 225-150 273.5-55.5 273.5 55.5 225 150 150 225 55.5 273.5q0 220-124 399l343 343q37 37 37 90z"/></svg>');
    }
}

/* Search bar */

.search-panel {
    button {
        color: #aaa;
    }

    .search-help {
        background-color: #6c757d;
        border: 0 solid #ced4da;
        border-bottom-width: 0;
        border-left-color: #ced4da;
        border-left-width: 1px;
        border-radius: 0;
        border-top-width: 0;
        box-shadow: 0 0 0 1px rgba(43, 45, 80, .1), 0 2px 5px 0 rgba(43, 45, 80, .08), 0 1px 1.5px 0 rgba(0, 0, 0, .07), 0 1px 2px 0 rgba(0, 0, 0, .08);
        color: #aaa;
        display: inline-block;
        height: 100%;

        a {
            display: inline-block;
            height: 60%;
            width: 100%;
        }
    }

    button:hover,
    .search-help:hover {
        background-color: #5a6268;
        border-color: #545b62;
        box-shadow: 0 0 0 1px rgba(43, 45, 80, .1), 0 2px 5px 0 rgba(43, 45, 80, .1), 0 3px 9px 0 rgba(43, 45, 80, .08), 0 1px 1.5px 0 rgba(0, 0, 0, .08), 0 1px 2px 0 rgba(0, 0, 0, .08);
        color: #fff;
    }

    /* Index field menu */
    .dropdown-toggle {
        background-color: #6c757d;
        color: #aaa;
    }

    button.btn-field-selector {
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0;
        vertical-align: top;
    }

    ul.dropdown-menu {
        background-color: #6c757d;
        color: #aaa;
        height: 50vh;
        min-width: 400px;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 12px;

        a {
            color: #aaa;
            text-decoration: none;

            &:hover {
                color: #fff;
            }
        }

        ul.subfield {
            a.subfield-heading {
                margin-left: -15%;
            }

            li.subfield {
                font-size: 85%;
            }
        }
    }

    .help-icon {
        background-image: url('data:image/svg+xml;utf8,<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="%23aaa" d="M1088 1256v240q0 16-12 28t-28 12h-240q-16 0-28-12t-12-28v-240q0-16 12-28t28-12h240q16 0 28 12t12 28zm316-600q0 54-15.5 101t-35 76.5-55 59.5-57.5 43.5-61 35.5q-41 23-68.5 65t-27.5 67q0 17-12 32.5t-28 15.5h-240q-15 0-25.5-18.5t-10.5-37.5v-45q0-83 65-156.5t143-108.5q59-27 84-56t25-76q0-42-46.5-74t-107.5-32q-65 0-108 29-35 25-107 115-13 16-31 16-12 0-25-8l-164-125q-13-10-15.5-25t5.5-28q160-266 464-266 80 0 161 31t146 83 106 127.5 41 158.5z"/></svg>');
        background-position: 40% 50%;
        background-repeat: no-repeat;
        background-size: 20px 20px;
        width: 2.5rem;

        &:hover {
            background-image: url('data:image/svg+xml;utf8,<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="%23fff" d="M1088 1256v240q0 16-12 28t-28 12h-240q-16 0-28-12t-12-28v-240q0-16 12-28t28-12h240q16 0 28 12t12 28zm316-600q0 54-15.5 101t-35 76.5-55 59.5-57.5 43.5-61 35.5q-41 23-68.5 65t-27.5 67q0 17-12 32.5t-28 15.5h-240q-15 0-25.5-18.5t-10.5-37.5v-45q0-83 65-156.5t143-108.5q59-27 84-56t25-76q0-42-46.5-74t-107.5-32q-65 0-108 29-35 25-107 115-13 16-31 16-12 0-25-8l-164-125q-13-10-15.5-25t5.5-28q160-266 464-266 80 0 161 31t146 83 106 127.5 41 158.5z"/></svg>');
        }
    }

    input {
        background-clip: padding-box;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        display: inline-block;
        flex: 1 1 0%;
        margin-bottom: 0;
        min-width: 0;
        position: relative;
    }
}

.query-error {
    background-color: #ff0;
    color: #000;
    padding: 5px;
}

.query-source {
    background-color: #000;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
}
