body {
    background-color: #e3e7ed;
    color: #4c5367;
    font-family: var(--font-family-base);
    font-size: .875rem;
}

.main-header {
    color: var(--text-color);
    font-size: 21px;
    font-weight: 600;
    line-height: 1;

    a {
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }
}

main {
    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-lg);
    margin: 20px 0;
    min-height: 70vh;
    padding: 24px;

    h1 {
        font-size: 1.5rem;

        .title {
            font-size: var(--font-size-lg);
            line-height: 24px;
            margin: 0;
        }
    }

    h2 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1rem;
    }
}

/* Highlighting */
em.hl {
    background-color: #ff0;
    font-style: normal;
    padding: 2px;
}
