$brand-primary: #c90230;
$font-family-sans-serif: 'Roboto', 'Open Sans', sans-serif;
$box-shadow: 0 0 3px rgba(0, 0, 0, .15) !important;
$border: 1px solid #aaa !important;

@import 'gcms.scss';
@import '_keyboard.scss';
@import '~jquery-ui/themes/base/core.css';
@import '~jquery-ui/themes/base/autocomplete.css';
@import '~jquery-ui/themes/base/menu.css';
@import '~jquery-ui/themes/base/theme.css';
@import '_jquery-ui-ext.scss';
@import '_jquery-ui-ext-keyboard.scss';
@import '_easyadmin23.scss';
@import 'main-menu';
@import 'footer';
@import 'home';

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

a.action-edit-origin {
    margin-right: 13px;
}

[draggable] {
    user-select: none;
}

.dnd {
    cursor: move;
    padding: 5px;
}

.dnd.over {
    border: 2px dashed #000;
}

.alert {
    background-color: #b0413e;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

h1.exception {
    color: #fff;
}

.relationship-generated-automatically {
    border: 1px solid #aaa;
    margin: 0 0 4em !important;
    padding: 1em 0 0 1em !important;
}

a.field-collection-item-action {
    top: -40px !important;
}

.auto-gen-label {
    color: #aaa;
    margin: -2em 0 0 -0.5em;
    position: absolute;
}

select.relationship-generated {
    background-color: rgb(238, 238, 238);
    border-color: rgb(204, 204, 204);
    pointer-events: none;

    &:focus {
        background-color: rgb(238, 238, 238) !important;
        pointer-events: none;
    }
}

#credit-wrapper {
    background: rgba(0, 0, 0, 0.93);
    display: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1040;
}

#team {
    font-size: 20px;
    margin: auto;
    position: absolute;
    text-align: center;
    width: 100vw;

    h1 {
        color: #888;
        font-family: monospace;
        font-size: 18px;
        letter-spacing: 6px;
        text-transform: uppercase;
    }

    h2 {
        color: #fff;
        font-weight: bold;
    }
}

.select2-container--bootstrap .select2-results > .select2-results__options {
    max-height: 260px;
}

.select2-results {
    max-height: 260px;
}

.wrapper {
    grid-row-gap: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.container > main {
    h2 {
        margin-top: 1rem;
    }

    h3 {
        font-weight: 600;
        margin-top: 1.5rem;
    }
}
