
.logo-container {
    background-color: transparent;
    background-image: url('https://www.uni-goettingen.de/img/redesign/siegel.svg');
    background-position: 8% 24px;
    background-position-x: 8%;
    background-position-y: 24px;
    background-repeat: no-repeat;
    background-size: 180% 180%;
    padding-bottom: 24px;
    padding-top: 24px;
    position: relative;
}
