.home {
    overflow: hidden;
    padding-left: 48px;
    padding-right: 48px;
    //padding: 0;
    padding-top: 240px;
    position: relative;

    .image-container {
        height: 240px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;

        img {
            height: 100%;
            object-fit: cover;
            object-position: 0 30%;
            width: 100%;
        }

        small {
            background: rgba(0, 0, 0, 0.3);
            bottom: 0;
            color: #fff;
            font-size: 10px;
            padding: 4px 8px;
            position: absolute;
            right: 0;
            z-index: 10;
        }
    }

    .title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
        margin-top: 3rem;
    }

    .btn {
        margin-top: 1rem;
    }
}
