@import '~bootstrap/scss/bootstrap';

// See https://bootsnipp.com/snippets/dldxB

:root {
    --font-family-base: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, 'Helvetica Neue', arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    font-family: var(--font-family-base);
    margin: 0;

    > .login {
        background: #e3e7ed;
        font-size: .875rem;
        font-weight: 400;
        height: 100%;
        line-height: 1.5;
        position: absolute;
        width: 100%;
    }
}

.wrapper.login {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    padding: 20px;
    width: 100%;

    #formContent div div:first-child {
        padding-top: 10px;
    }

    .helper-text {
        color: #ff5050;
        display: block;
        font-weight: 600;
        margin: 1rem;
    }

    #formContent {
        background: #fff;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
        max-width: 450px;
        padding: 30px;
        padding: 0;
        position: relative;
        text-align: center;
        width: 90%;

        label {
            color: #4c5367;
            display: block;
            font-family: var(--font-family-base);
            font-size: large;
            margin: .5rem;
        }
    }

    #formFooter {
        background-color: #f6f6f6;
        -webkit-border-radius: 0 0 10px 10px;
        border-radius: 0 0 10px 10px;
        border-top: 1px solid #dce8f1;
        padding: 25px;
        text-align: center;
    }

    button[type=submit].login {
        background-color: #56baed;
        border: 0;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
        box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
        color: #fff;
        display: inline-block;
        font-size: 13px;
        margin: 5px 20px 40px;
        margin-top: 1rem !important;
        padding: 15px 80px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    button[type=submit].login:hover {
        background-color: #39ace7;
    }

    button[type=submit].login:active {
        -moz-transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -o-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }

    input[type=text],
    input[type=password] {
        background-color: #f6f6f6;
        border: 0;
        border: 2px solid #f6f6f6;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        color: #4c5367;
        display: inline-block;
        font-size: 16px;
        margin: 5px;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        width: 75%;
    }

    input[type=text]:focus {
        background-color: #fff;
        border-bottom: 2px solid #5fbae9;
    }

    input[type=text]:placeholder {
        color: #ccc;
    }
}


/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeindown;
    animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-moz-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fadeIn {
    -webkit-animation: fadein ease-in 1;
    -moz-animation: fadein ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover::after {
    background-color: #56baed;
    bottom: -10px;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    transition: width 0.2s;
    width: 0;
}

.underlineHover:hover {
    color: #0d0d0d;
}

.underlineHover:hover::after {
    width: 100%;
}

/* OTHERS */

*:focus {
    outline: none;
}

#icon {
    width: 60%;
}
