@import '~bootstrap/scss/bootstrap';
@import '_search-common.scss';
@import '_searchbox.scss';
@import '_map.scss';

main .map-wrapper {
    height: calc(92vh - 94px * 2 - 32px);
    position: absolute;
    width: calc(100% - 44px * 2);
}

#map {
    border: 1px;
    border-color: #545b62;
    height: 100%;
    margin: 0 auto;
    width: 80%;
}
