@import '~bootstrap/scss/bootstrap';
@import '_search-common.scss';
@import '_searchbox.scss';
@import '_map.scss';

.search {
    line-height: 2em !important;
}

.search-page {
    overflow: hidden;

    .table-wrapper {
        margin-bottom: 3rem;
        max-width: 100%;
        overflow-x: auto;
    }

    /* Result table */
    table,
    .table {
        thead {
            border-top: 1px solid #dee2e6;

            th {
                border-bottom: 1px solid #dee2e6;
                font-weight: 500;
                line-height: 1.357;
                padding: 8px;
                text-align: left;
                white-space: nowrap;
            }
        }
    }

    /* Empty fields */
    .badge {
        border-radius: var(--border-radius);
        display: inline-block;
        font-size: var(--font-size-sm);
        font-weight: 500;
        line-height: 1;
        padding: .25em .4em;
        text-align: center;
        transition: all .08s ease-in;
        vertical-align: baseline;
        white-space: nowrap;
    }

    .badge-secondary {
        background-color: #e3e7ed;
        color: #212529;
    }

    // Headings
    h2 {
        .result-functions {
            background-color: rgba(0, 0, 0, 0);
            border: 0;
            border-color: rgba(0, 0, 0, 0);
            box-shadow: none;
            color: rgb(108, 117, 125);
        }
    }

    // Additional features

    .result-function {
        padding-bottom: 0.5em;

        .statistics-wrapper {
            .toggle {
                margin-right: 0.2em;
            }

            ul {
                break-inside: avoid;
                column-count: 3;
                column-gap: 3.5em;
                column-rule-style: solid;
                column-rule-width: 1px;
                list-style-type: none;

                .statistics-row {
                    .statistics-title {
                        font-weight: bold;
                    }
                }
            }

            .table-functions {
                border-bottom-color: rgb(41, 45, 66);
                border-top-style: solid;
                border-top-width: 0.1em;
                margin-bottom: 1em;
                margin-left: 2em;
                margin-right: 2em;
                padding-top: 0.5em;

                .filter {
                    float: right;
                }
            }
        }
    }

    // Data table overrides

    table.dataTable thead th,
    table.dataTable thead td {
        padding: 10px;
        padding-left: 4px;
        padding-right: 16px;
    }

    // Inline "table" for nested documents
    td {
        button.inline-table-row-heading {
            background-color: #f0f0f0;
            //background: rgba(0, 0, 0, 0);
            border: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            min-width: max-content;
            padding: 0.15em;
            text-align: start;
            white-space: nowrap;
            width: 100%;
        }

        button.inline-table-row-heading:nth-of-type(2n) {
            background-color: #dcdcdc;
        }

        .inline-table-row-heading .chevron {
            float: left;
            padding-right: 0.15em;
            padding-top: 0.2em;
        }

        .inline-table-row-heading .chevron::after {
            content: '\f056';
        }

        .inline-table-row-heading.collapsed .chevron::after {
            content: '\f055';
        }

        .inline-table-content {
            background-color: #f0f0f0;
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            margin-bottom: 5px;

            .inline-table-row {
                display: inline-block;
                padding-left: 0.3em;
                padding-right: 0.3em;

                .field-name {
                    font-weight: bold;
                }

                .field-value {
                    float: right;
                    margin-left: 0.3em;
                    padding-right: 0.3em;
                }
            }

            .inline-table-row:last-of-type {
                padding-bottom: 0.3em;
            }
        }

        .inline-table-content:nth-of-type(2n) {
            background-color: #dcdcdc;
        }

        div.inline-table {
            background-color: #f0f0f0;
            border-radius: 7px;
            display: block;
            margin-bottom: 5px;
        }

        div.inline-table:nth-of-type(2n) {
            background-color: #dcdcdc;
        }
    }

    // Flash message
    .alert-trace {
        display: none !important;
    }

    // Popovers
    .popover {
        .popover-header {
            a.statistics-popover-close {
                float: right;
            }
        }

        .popover-body {
            li.distinct-selector {
                cursor: pointer;
            }

            .distinct-selector.active {
                background-color: #ff0;
            }
        }
    }

    //Buttons
    i.clickable {
        cursor: pointer;
    }

    //Other
    .quick-fix {
        color: #00f !important;
        float: right;
        text-decoration: underline !important;
    }

    .alert-warning {
        background-color: #fff3cd !important;
        color: #856404 !important;
        margin-top: 0.5em;
    }

    // See https://stackoverflow.com/questions/13280982/bootstrap-accordion-collapse-height-issue
    .collapse.inline-table-content {
        height: auto !important;
    }
}
