{% extends 'base.html.twig' %}
{% trans_default_domain 'search' %}
{% block title %}Search the Inscriptions database{% endblock %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('search') }}
        {% endblock %}
{% block body %}
{% apply spaceless %}
    <div class="container">
        {% include 'common/header.html.twig' %}
        <main class="search-page">
            {% block main %}
            {% import 'common/search.html.twig' as search %}

                <h1 class="title">Search the Inscriptions Database</h1>
                {% include 'common/searchbox.html.twig' %}
                {% if results is defined and results is not empty %}
                    {% for index, hits in results %}
                        {% if hits|length > 1 %}
                            {% set resultHeading = 'Results' %}
                        {% else %}
                            {% set resultHeading = 'Result' %}
                        {% endif %}

                        {# Insert index config into local Twig variables #}
                        {% set hide_fields = [] %}
                        {% set columns = [] %}
                        {% set nested = [] %}
                        {% set coords_field = '' %}
                        {% set entity_name = '' %}
                        {% if indexes_metadata is defined and attribute(indexes_metadata, index) is defined %}
                            {% set index_metadata = attribute(indexes_metadata, index) %}
                            {% if index_metadata.hide_fields is defined %}
                                {% set hide_fields = index_metadata.hide_fields %}
                            {% endif %}
                            {% if index_metadata.columns is defined %}
                                {% set columns = index_metadata.columns %}
                            {% endif %}
                            {% if index_metadata.nested is defined %}
                                {% set nested = index_metadata.nested %}
                            {% endif %}
                            {% if index_metadata.entity is defined %}
                                {% set entity_name = index_metadata.entity %}
                            {% endif %}
                        {% endif %}

                        <h2 class="index-heading">{{ resultHeading ~ ' in ' ~ index|trans }}
                            <button type="button" data-target="#{{ index }}-statistics-collapsable" class="btn btn-secondary result-functions" id="button-statistics" data-toggle="collapse">
                                <i data-toggle="tooltip" data-placement="bottom" class="fas fa-chart-line" title="Result statistics for index {{ index|trans }}"></i>
                            </button>
                        </h2>
                        {# Placeholder for result statistics #}
                        <div id="{{ index }}-statistics-collapsable" class="collapse result-function result-function-statistics {{ index }}-statistics">
                            <div class="statistics-wrapper">
                                <ul id='{{ index }}-statistics' data-refresh="{{ index }}-statistics-collapsable"></ul>
                            </div>
                        </div>
                        {# Generate table and header #}
                        {# https://stackoverflow.com/questions/21561396/displaying-table-in-twig-dynamically #}

                        <div class="table-wrapper">
                            <table class="table table-sm search-result-table datagrid" id="result-table-{{ index }}" style="display: none;" data-statistics-div="{{ index }}-statistics">
                                {{ search.table_heading(columns, hide_fields) }}
                                <tbody>
                                {% for result in hits %}
                                    {% set _entity_id = result.id|striptags|trim %}
                                    <tr>
                                        {% for key, tdValue in result %}
                                            {% if key not in hide_fields %}
                                                <td>
                                                    {% autoescape false %}
                                                        {% if key == 'id' %}
                                                            <a href="/?entity={{ entity_name }}&action=show&id={{ _entity_id }}">{{ tdValue }}</a>
                                                        {% else %}
                                                            {% if tdValue is iterable %}
                                                                {% if tdValue is nestedArray %}
                                                                    {{ search.nested(tdValue, key) }}
                                                                {% else %}
                                                                    {% if attribute(attribute(columns, key), 'enum') is defined %}
                                                                        {{ search.html_join(tdValue, '<span class="enum-value">', '</span>', ', ') }}
                                                                    {% else %}
                                                                        {{ tdValue|join(', ') }}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% elseif tdValue is empty %}
                                                                <span class="badge badge-secondary">Empty</span>
                                                            {% else %}
                                                                {{ tdValue }}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endautoescape %}
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                <tbody>
                            </table>
                        </div>
                    {% endfor %}
                {% elseif results is defined and results is empty %}
                    <h2>Nothing found</h2>
                {% endif %}
            {% endblock %}
        </main>
        {% include 'common/footer.html.twig' %}
    </div>
{% endapply %}
        {% block javascripts %}
            {{ encore_entry_script_tags('search') }}
            {{ encore_entry_script_tags('menu') }}
        {% endblock %}
{% endblock %}
