{% set route = app.request.attributes.get('_route') %}

{% set menu = [
    { href: '/privacy', label: 'Privacy', active: route == 'privacy' },
    { href: '/imprint', label: 'Imprint', active: route == 'imprint' }
]
%}

<footer>
    <div class="logos-container">
        <a class="logo logo-uni-goe" href="https://uni-goettingen.de/" title="Georg August University Goettingen" target="_blank" >
            <img src="{{ asset('images/GOE_Logo_Quer_Farbe.svg') }}" alt="Logo Georg August University Goettingen">
        </a>
        <a class="logo logo-sub" href="https://sub.uni-goettingen.de/" title="State and University Library Goettingen" target="_blank">
            <img src="{{ asset('images/SUB_right_horizontal_cmyk.svg') }}" alt="Logo State and University Library Goettingen">
        </a>
        <a class="logo logo-dfg" href="https://www.dfg.de/" title="Deutsche Forschungsgemeinschaft e.V." target="_blank">
            <img src="{{ asset('images/dfg_logo_schriftzug.svg') }}" alt="Logo Deutsche Forschungsgemeinschaft e.V.">
        </a>
    </div>

    <ul class="d-flex menu">
        {% for item in menu %}
            <li class="text-secondary {{ item.active ? 'active' : '' }}">
                <a href="{{ item.href }}" class="text-secondary font-weight-normal">{{ item.label }}</a>
            </li>
        {% endfor %}
    </ul>
</footer>