{% import 'common/search.html.twig' as search %}

{# Insert index config into local Twig variables #}
{% set hide_fields = [] %}
{% set map = false %}
{% set coords_field = '' %}
{% if indexes_metadata is defined and attribute(indexes_metadata, index) is defined %}
	{% set index_metadata = attribute(indexes_metadata, index) %}
	{% if index_metadata.hide_fields is defined %}
		{% set hide_fields = index_metadata.hide_fields %}
	{% endif %}

	{% if index_metadata.map is defined %}
		{% if index_metadata.map.enabled is defined %}
			{% set map = index_metadata.map.enabled %}
		{% endif %}
		{% if index_metadata.map.coords_field is defined %}
			{% set coords_field = index_metadata.map.coords_field %}
		{% endif %}
	{% endif %}
{% endif %}

{% if results is defined and results is not empty and index is defined %}
	{% set geojson = attribute(attribute(results, index), 'hits') %}
	{{ search.geojson(geojson, coords_field, hide_fields) }}
{% endif %}