<header class="main-header">
    <nav class="navbar d-flex align-items-center flex-grow-1" role="navigation">
		<div id="header-logo">
			<a class="logo logo-long" title="Theology Inscriptions" href="{{ path('easyadmin') }}">Theology Inscriptions</a>
		</div>
		{% include 'common/main_menu.html.twig' %}
	</nav>
</header>