{% set route = app.request.attributes.get('_route') %}

{% set menu = [
    { href: '/home', label: 'Home', active: route =='index' },
    { href: '/database', label: 'Inscriptions Database', active: route == 'easyadmin' },
    { href: '/search', label: 'Search', active: route == 'search' },
    { href: '/about', label: 'About the project', active: route == 'about' },
]
%}

{% if app.user is null %}
    {% set menu = menu|merge([{ href: '/login', label: 'Login', active: route == 'login' }]) %}
{% else %}
    {% if route != 'easyadmin' %}
        {% set menu = menu|merge([{ href: '/logout', label: 'Logout', active: route == 'logout' }]) %}
    {% endif %}
{% endif %}

<ul class="menu d-none d-lg-flex list-unstyled ml-auto mb-0" >
    {% for item in menu %}
        <li class="text-secondary {{ item.active ? 'active' : '' }}">
            <a href="{{ item.href }}" class="text-secondary font-weight-normal">{{ item.label }}</a>
        </li>
    {% endfor %}
</ul>

<!-- Mobile Menu -->
<button class="btn btn-secondary btn-outline d-lg-none" id="main-menu-mobile-toggle">Menu</button>

<div class="mobile-menu-wrapper border-left-1">
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <ul class="menu list-unstyled" >
        {% for item in menu %}
            <li class="text-secondary {{ item.active ? 'active' : '' }}">
                <a href="{{ item.href }}" class="text-secondary font-weight-normal">{{ item.label }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
