{% trans_default_domain 'search' %}

{% macro nested(fieldArr, column = "", addClass = "", hide_fields) %}
    {% if fieldArr is hash %}
        {{ _self.singleDoc(fieldArr, column, addClass, hide_fields) }}
    {% else %}
        {% for nestedDoc in fieldArr %}
            {{ _self.singleDoc(nestedDoc, column, addClass, hide_fields) }}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro singleDoc(fieldArr, column = "", addClass = "", hide_fields) %}
    {% autoescape false %}
    {% set id = 'inline-table-row-heading-'  ~ random() %}
       <button data-toggle="collapse" data-target="#{{ id }}" class="inline-table-row-heading collapsed">
            {% set key = fieldArr|keys|first %}
            <i class="chevron fa fa-fw" ></i>
            <span class="field-name">{{ key | trans }}:</span>
            <span class="field-value">{{ fieldArr[key] }}</span>
        </button>
        <div class="collapse inline-table-content" id="{{ id }}">
            {% for property, value in fieldArr %}
                {% if not loop.first or (not loop.first and hide_fields is defined and property not in hide_fields) %}
                    <div class="inline-table-row">
                        <span class="field-name">{{ property | trans }}:</span>
                        {% if value is iterable %}
                            <span class="field-value">{{ value|join(', ') }}</span>
                        {% elseif value is empty %}
                            <span class="badge badge-secondary field-value">Empty</span>
                        {% else %}
                            <span class="field-value">
                                {% if value is bool %}
                                    {{ bool_val(value) }}
                                {% else %}
                                    {{ value }}
                                {% endif %}
                            </span>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endautoescape %}
{% endmacro %}

{% macro html_join (arr, pre = '', post = '', join ='') %}
    {% autoescape false %}
    {% if arr is iterable %}
        {% for val in arr %}
            {% if loop.last %}
                {{ pre|raw ~ val ~ post|raw }}
            {% else %}
                {{ pre|raw ~ val ~ post|raw ~ join }}
            {% endif %}
        {% endfor %}
    {% else %}
        {{ pre ~ arr ~ post }}
    {% endif %}
    {% endautoescape %}
{% endmacro %}

{% macro table_heading (columns, hide_fields = []) %}
    <thead>
        <tr>
        {% for th in columns|keys %} 
            {% if th not in hide_fields %}
                {% if attribute(attribute(columns, th), 'class') is defined %}
                    {% set class = attribute(attribute(columns, th), 'class') %}
                    <th class="{{ class }}">{{ th|trans|raw }}</th>
                {% else %}
                    <th class="th-{{ th }}">{{ th|trans|raw }}</th>
                {% endif %}
            {% endif %}
        {% endfor %}
        </tr>
    </thead>
{% endmacro %}

{% macro geojson_popup (properties_array, hide_fields = []) %}
    {% autoescape false %}
    <div class="geojson-popup">
    {% if properties_array is iterable %}
        {% for pkey, pvalue in properties_array %}
            {% if pkey not in hide_fields %}
                <div class="popup property_key key-{{ pkey }}">{{ pkey|trans }}</div>
                {% if pvalue is not null and pvalue is iterable and pvalue is not nestedArray %}
                    <div class="popup property_value">{{ pvalue|join(',') }}</div>             
                {% elseif pvalue is not null and pvalue is iterable and pvalue is nestedArray  %}
                    {{ _self.nested(pvalue, '', 'geojson-popup-nested-document') }}
                {% elseif pvalue is not null and pvalue is not empty %}
                    <div class="popup property_value ">{{ pvalue|raw }}</div>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
    </div>
    {% endautoescape %}
{% endmacro %}

{% macro val (str) %}
    {% autoescape false %}
    {% if str is iterable %}
        {{ str|join }}
    {% else %}
        {{ str }}
    {% endif %}    
    {% endautoescape %}
{% endmacro %}

{% macro geojson (results, coords_field, hide_fields = []) %}
    {% autoescape false %}
    {% set json = [] %}
    {% set features = 0 %}
    {% for feature in results %}
        {% if attribute(feature, coords_field) is defined and attribute(feature, coords_field) is not empty %}
            {% set coords = [] %}
            {# This is just a stub #}
            {% set geometry = {} %}
            {# Check if we've got multiple coords and construct geometry object #}
            {% if attribute(feature, coords_field) is nestedArray  %}
                {% set multipoint = [] %}
                {% for pair in attribute(feature, coords_field) %}
                    {% if pair.lat != 199 and pair.lon != 199 %}
                        {% set multipoint = multipoint|merge([pair]) %}
                    {% endif %} 
                {% endfor %}
                {% if multipoint is not empty %}
                    {% set geometry = {'type': 'Multipoint', 'coordinates': [ multipoint ] } %}
                {% endif %}
            {% else %}
                {% if attribute(feature, coords_field).lat != 199 and attribute(feature, coords_field).lon != 199 %}
                    {% set coords = attribute(feature, coords_field) %}
                    {% set geometry = {'type': 'Point', 'coordinates': [coords.lat, coords.lon] } %}
                {% endif %}
            {% endif %}         

            {% if geometry is not empty %}
                {% set popup = _self.geojson_popup(feature, hide_fields) %}
                
                {% set feature_json = { 'type': 'Feature', 'geometry':
                                          { 'type': 'Point',
                                            'coordinates': [ coords.lat, coords.lon ] },
                                        'properties': { 'popupContent': popup },
                                        'id': feature.id
                                      } %}
                {% set json = json|merge([feature_json]) %}
                {% set features = features + 1 %}
            {% endif %}
        {% endif %}
    {% endfor %}
    {% set geojson = { 'type': 'FeatureCollection', 'features': json } %}
    {% if features > 0 %}
        {{ geojson|json_encode(constant('JSON_UNESCAPED_UNICODE')) }}
    {% else %}
        {{ {}|json_encode(constant('JSON_UNESCAPED_UNICODE')) }}
    {% endif %}
    {% endautoescape %}
{% endmacro %}

{% macro geojson_feature (feature) %}
    {{
        { 'type': 'Feature',
          'geometry': { 'type': 'Point',
                        'coordinates': [ feature.geonames_coordinates.lat, feature.geonames_coordinates.lon ] },
          'properties': _self.geojson_popup (feature),
            'id': feature.id
        }
    }}
{% endmacro %}
