{% trans_default_domain 'search' %}

{# See https://symfony.com/doc/current/controller.html#flash-messages #}
{% for label, messages in app.flashes %}
    <div class="alert alert-{{ label }}">
		{% for message in messages %}
			{% autoescape false %}
				{{ message }}
			{% endautoescape %}
		{% endfor %}
    </div>
{% endfor %}

<form method="get" autocomplete="off">
	{# Inspired by https://bootsnipp.com/snippets/9Avx #}
	<div class="searchbox">
		{#
		<div class="btn-group center-block row" data-toggle="buttons-radio">
			{% for index in indexes %}
				{% if loop.first %} 
					<button class="btn active">{{ (index ~ '_index')|trans }}</button>
				{% else %}
					<button class="btn">{{ (index ~ '_index')|trans }}</button>
				{% endif %}
			{% endfor %}
		</div>
		#}
		<div class="input-group">
			{% if indexes_metadata is defined and indexes_metadata is not empty %}
				<div class="input-group-btn search-panel dropdown">
					<button type="button" class="btn btn-default dropdown-toggle btn-field-selector" id="dropdownMenuButton" aria-expanded="false" data-toggle="dropdown">
						<span id="search_concept">Fields</span> <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" role="menu">
						{% autoescape false %}
						{% for index, config in indexes_metadata %}
						    {% set fields = config.fields %}
						    <li class="index-{{ index }}"><a href="#{{ index }}_">{{ index|trans }}</a>
						        <ul>
						        {% for field in fields %}
						            {% if field is iterable %}
						                {% set subfield_heading = field|first|split('.')|first %}
						                <ul class="subfield"><a class="subfield-heading" href="#{{ index }}_{{ subfield_heading }}.">{{ (subfield_heading ~ '.')|trans }}</a>
						                {% for subfield in field %}
						                    <li class="index-{{ index }} subfield subfield-{{ subfield }}"><a href="#{{ index }}_{{ subfield }}">{{ subfield|trans }}</a></li>
						                {% endfor %}
						                </ul>
						            {% else %}
						                <li class="index-{{ index }} field filed-{{ field }}"><a href="#{{ index }}_{{ field }}">{{ field|trans }}</a></li>
						            {% endif %}
						        {% endfor %}
						        </ul>
						    </li>
						{% endfor %}
						{% endautoescape %}
					</ul>
					<a class="search-help help-icon" href="{{ path('help') }}#help_search" target="_blank">
					</a>
				</div>
			{% endif %}
			<input id="search-query-input" name="q" type="text" class="form-control keyboard-input" placeholder="Search..." value="{{ app.request.query.get('q') }}">
			<div class="input-group-append">
				<button class="btn btn-secondary search-icon" type="submit">
				</button>
			</div>
		</div>
	</div>
</form>