{% if entity is instanceof('App\\Util\\DisplayNameInterface') %}
    {% set _entity_display_name = '' ~ easyadmin_render_field_for_show_view(_entity_config.name, entity, fields.displayName)|trim %}
{% else %}
    {% set _entity_display_name = _entity_id %}
{% endif %}

{% set _trans_parameters = { '%entity_name%': _entity_config.name|trans, '%entity_label%': _entity_config.label|trans, '%entity_id%': _entity_id, '%entity_display_name%': _entity_display_name } %}
