# Imprint
<br>

## English Version

This is an English translation of the German Impressum (see below). The German version is the legally binding version.

### Provider

The provider of this website in the legal sense is the Göttingen State and University Library:

**Georg-August-Universität Göttingen**

Niedersächsische Staats- und Universitätsbibliothek Göttingen
<br>
Platz der Göttinger Sieben 1
<br>
37073 Göttingen
<br>
Phone: +49 (0) 551 – 39 5212
<br>
Fax: +49 (0) 551 – 39 5222
<br>
sekretariat@sub.uni-goettingen.de

<a href="www.sub.uni-goettingen.de" title="The Göttingen State and University Library" target="_blank">www.sub.uni-goettingen.de (opens new window)</a>

The Göttingen State and University Library is represented by the Executive Director Dr. Wolfram Horstmann. As a central institution, the SUB Göttingen is an organizational, legally non-independent unit of the Georg-August-Universität Göttingen. The Georg-August-Universität Göttingen is a corporation under public law. It is legally represented by the President Prof. Dr. Metin Tolan.

Georg-August-Universität Göttingen
<br>
Wilhelmsplatz 1
<br>
37073 Göttingen

Phone: +49 (0) 551 – 39 0
<br>
Fax: +49 (0) 551 – 39 9612
<br>
poststelle@uni-goettingen.de
<br>
<br>
### Responsible supervisory authority
Georg-August-Universität Göttingen Stiftung Öffentlichen Rechts, Stiftungsausschuss Universität (§§ 59 Abs. 2, 60 Abs. 2 Satz 2 Nr. 7,60 a Abs. 1 NHG), Wilhelmsplatz 1, 37073 Göttingen

VAT ID gemäß § 27a Umsatzsteuergesetz: DE 152 336 201

Responsible for content according to § 55 para. 2 RStV:

**Dr. Giulia Francesca Grassi**

Dipartimento di Studi umanistici e del patrimonio culturale
<br>
Palazzo Caiselli, Vicolo Florio 2/b
<br>
33100 Udine
<br>
Italy
<br>
Room LT - 08

giulia.grassi@uniud.it

and

Zeki Mustafa Doğan
<br>
Niedersächsische Staats- und Universitätsbibliothek
<br>
Abteilung Digitale Bibliothek
<br>
Platz der Göttinger Sieben 1
<br>
37073 Göttingen

Tel.: +49 (0) 551 39-24924
<br>
<br>
### Responsible data protection officer
<a href="https://www.uni-goettingen.de/en/653067.html" title="Data Protection Officer of the University of Göttingen" target="_blank">Data Protection Officer of the University of Göttingen (without UMG) (opens new window)</a>

### Privacy policy
Information on data privacy can be found on the <a href="https://ahiqar.uni-goettingen.de/website/privacy.html" title="Data privacy" target="_blank">Data privacy (opens new window)</a> page.

### Disclaimer
Despite careful control of the content, we assume no liability for the content of external links. The operators of the linked pages are solely responsible for their content.

### Licence
All content developed as part of the Ahiqar Project and accessible on this website is licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/" title="Data privacy" target="_blank">CC BY-SA 4.0 (opens new window)</a>.

## German Version

Diese deutsche Fassung ist die rechtlich verbindliche Fassung.

### Anbieter

Anbieter dieser Internetpräsenz ist im Rechtssinne die Niedersächsische Staats- und Universitätsbibliothek Göttingen:

Georg-August-Universität Göttingen
<br>
Niedersächsische Staats- und Universitätsbibliothek Göttingen
<br>
Platz der Göttinger Sieben 1
<br>
37073 Göttingen

Tel.: +49 (0) 551 – 39 5212

Fax: +49 (0) 551 – 39 5222

sekretariat@sub.uni-goettingen.de

<a href="www.sub.uni-goettingen.de" target="_blank">www.sub.uni-goettingen.de</a> (opens new window)

Die Niedersächsische Staats- und Universitätsbibliothek Göttingen wird vertreten durch den leitenden Direktor Dr. Wolfram Horstmann. Die SUB Göttingen ist als zentrale Einrichtung eine organisatorische, rechtlich nicht selbständige Einheit der Georg-August-Universität Göttingen. Die Georg-August-Universität Göttingen ist eine Körperschaft des öffentlichen Rechts. Sie wird durch den Präsidenten Prof. Dr. Metin Tolan gesetzlich vertreten.
<br>
<br>
Georg-August-Universität Göttingen
<br>
Wilhelmsplatz 1
<br>
37073 Göttingen
<br>
<br>
Tel.: +49 (0) 551 – 39 0
<br>
Fax: +49 (0) 551 – 39 9612
<br>
poststelle@uni-goettingen.de

### Zuständige Aufsichtsbehörde

Georg-August-Universität Göttingen Stiftung Öffentlichen Rechts, Stiftungsausschuss Universität (§§ 59 Abs. 2, 60 Abs. 2 Satz 2 Nr. 7,60 a Abs. 1 NHG), Wilhelmsplatz 1, 37073 Göttingen

Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz: DE 152 336 201

Inhaltlich Verantwortliche gemäß § 55 Abs. 2 RStV:

Dr. Giulia Francesca Grassi

Dipartimento di Studi umanistici e del patrimonio culturale

Palazzo Caiselli, Vicolo Florio 2/b

33100 Udine

Italy

Room LT - 08

giulia.grassi@uniud.it

und

Zeki Mustafa Doğan

Niedersächsische Staats- und Universitätsbibliothek

Abteilung Digitale Bibliothek

Platz der Göttinger Sieben 1

37073 Göttingen

Tel.: +49 (0) 551 39-24924

### Zuständiger Datenschutzbeauftragter

<a href="https://www.uni-goettingen.de/de/653067.html" target="_blank">Datenschutzbeauftragter der Universität Göttingen (ohne UMG)</a> (opens new window)

### Datenschutzhinweis

<a href="https://ahiqar.uni-goettingen.de/website/privacy.html" title="Data privacy" target="_blank">Hinweise zum Datenschutz finden Sie auf der Seite Data privacy (opens new window)</a>.

### Haftungshinweis

Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren BetreiberInnen verantwortlich.

### Lizenz

Alle im Rahmen des Ahiqar Projektes erarbeiteten und auf dieser Website zugänglichen Inhalte sind gemäß <a href="https://creativecommons.org/licenses/by-sa/4.0/" title="Data privacy" target="_blank">CC BY-SA 4.0 (opens new window)</a> lizenziert.

