{% extends 'base.html.twig' %}
{# @EasyAdmin/page/content.html.twig #}
{% block title %}About the project{% endblock %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('index') }}
        {% endblock %}
{% block body %}
{% apply spaceless %}
    <div class="container">
        {% include 'common/header.html.twig' %}
        <main>
            {% block main %}
                {# See https://twig.symfony.com/doc/2.x/filters/markdown_to_html.html #}
                {{ include('imprint/index.markdown.twig')|markdown_to_html }}
            {% endblock %}
        </main>
        {% include 'common/footer.html.twig' %}
    </div>
{% endapply %}
{% endblock %}